<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href='/rango/'>index</a>
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                <div>views:{{ category.views }}</div>
                <div>likes:{{ category.likes }}</div>
            </ul>
        {% else %}
            <strong>No pages currently in category</strong>
        {% endif %}
    {% else %}
        The specified category does not exitst!
    {% endif %}
    <div>
        <a href="/rango/category/{{ category.slug }}/add_page">Add a New page</a><br/>
    </div>
</div>
</body>
</html>